<style>
td{border:1px solid #eeeeee;padding:10px;}
</style>
<table style="border:1px solid #eeeeee;width:100%;">
<tr>
<td>用户名</td>
<td>商品</td>
<td>已出价</td>
<td>开始出价</td>
<td>最后出价</td>
</tr>
{{#userInfo}}
<tr>
<td><a href="{{purl}}">{{{name}}}</a></td>
<td>{{pname}}</td>
<td>{{times}}</td>
<td>{{start}}</td>
<td>{{last}}</td>
</tr>
{{/userInfo}}
</table>
